{% extends 'layout.html' %}
{% load static %}

 
  {% block content %}
        
  <section class="hero">
    <div class="hero-content">
      <h2>WELCOME TO MY WORLD</h2>
      <h1>
        Hi, I’m <span class="highlight">Shijin</span><br>
        <span class="white">a Developer.</span>
      </h1>
      <div class="hero-img-wrapper mobile-only">
        <img src="{% static 'images/Adobe Express - file.png' %}" alt="Profile" class="hero-img">
      </div>
      <p>
        I use animation as a third dimension by which to simplify experiences and build through each and every interaction. I’m not adding motion just to spruce things up, but doing it in ways that matter.
      </p>
      <div class="info-row">
        <div class="info-block">
          <div class="info-block-title">FIND WITH ME</div>
          <div class="socials">
            <a href="#">LinkedIn</a>
            <a href="#">GitHub</a>
            <a href="#">Twitter</a>
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-title">PROJECTS</div>
          <div class="skills">
            <span>Django</span>
            <span>Flutter</span>
            <span>ML</span>
            <span>AI</span>
            <span>DL</span>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-img-wrapper desktop-only">
      <img src="{% static 'images/Adobe Express - file.png' %}" alt="Profile" class="hero-img">
    </div>
  </section>
  {% endblock %}
  
