{% load static %}
<nav class="navbar">
    <div class="logo">
      <img src="{% static 'images/shijin_profile.png' %}" alt="Profile" class="logo-img">
      <span style="font-weight:700; font-size:1.2rem;">INBIO</span>
    </div>
    <div class="hamburger" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="nav-links" id="navLinks">
      <a href="{% url 'home:home' %}" class="{% if request.path == '/' %}active{% endif %}">HOME</a>
      <a href="/portfolio/" class="{% if request.path == '/portfolio/' %}active{% endif %}">PORTFOLIO</a>
      <a href="/resume/" class="{% if request.path == '/resume/' %}active{% endif %}">RESUME</a>
      <a href="{% url 'home:contact' %}" class="{% if request.path == '/contact' or request.path == '/contact/' %}active{% endif %}">CONTACT</a>
    </div>
  </nav>